:root {
  --primary-text-color: #212121;
  --second-text-color: #ffffff;
  --third-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  /* колір фону */
  background-color: #ffffff;
  /*колір основного тексту*/
  color: var(--primary-text-color);
}

/* Логотип */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}

/* Логотип-колір Studio header */
.logo-studio {
  color: #212121;
}

/* Логотип-колір Studio footer */
.footer .logo-studio {
  color: #ffffff;
}

/*Забирає точки в всіх списках
ul {
  list-style: none;
} */

/*Забирає точки в певних списках*/
.list {
  list-style: none;
}

/*Підкреслення ссилок*/
a {
  text-decoration: none;
}

/* Розмітка шапки */

/* site-nav */
.site-nav a {
  color: var(--primary-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/* Підсвітка теперішньої сторінки */
.site-nav .current {
  color: var(--accent-color);
}

/* contact list */
.contact a {
  color: var(--third-text-color);
}

.contact a:hover,
.contact a:focus {
  color: var(--accent-color);
}

/* Банер */
.banner {
  background-color: rgba(47, 48, 58, 0.8);
}

.banner-title {
  color: #ffffff;
}

/* Особливості */
.Features p {
  color: var(--third-text-color);
}

/* Чим ми займаємося */
.perform h3 {
  color: var(--second-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.team p {
  color: var(--third-text-color);
}

/*Розмітка footer*/
.footer {
  background-color: #2f303a;
}

/* footer-address */
.footer-address {
  color: var(--second-text-color);
}

/* footer-contacts */
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

strong {
  color: var(--second-text-color);
}

.subscription span {
  color: rgba(255, 255, 255, 0.6);
}

/* button (базовий стиль)*/
.button {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
}
